<!DOCTYPE html>
<html lang="en">

<head>
    <!-- This is the generated HTML file of the demo page -->
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- DEFAULT -->
    <link rel="stylesheet" href="css/main.css?{{ version }}" />

</head>

<body class="home" id="foo">

    {{> body }}

    <script src="js/modernizr-output.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/die.js"></script>
    <script src="js/app.js"></script>

</body>
</html>
