<!DOCTYPE html>
<html lang="en">

<head>
    <!-- This is the generated HTML file of the demo page -->
    <meta charset="utf-8">
    <title>minimalist dice</title>
    <meta http-equiv="x-ua-compatible" content="id=edge;chrome=1">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
    <meta name="apple-mobile-web-app-title" content="Minimalist Dice">
    <meta http-equiv="cleartype" content="on">

    <!-- Home screen & launch assets -->
    <link rel="shortcut icon" sizes="196x196" href="assets/images/icon-196x196.png">
    <link rel="apple-touch-icon" href="assets/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/touch-icon-ipad-retina.png">

    <link href="assets/images/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
    <link href="assets/images/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="assets/images/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
    <link href="assets/images/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
    <link href="assets/images/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="assets/images/apple-touch-startup-image-2048x1496.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

    <!-- <link rel="stylesheet" href="assets/stylesheets/dice.css"> -->
    <!-- <link rel="stylesheet" href="assets/stylesheets/responsive-nav.css"> -->
    <!-- <script type='application/javascript' src='node_modules/fastclick/lib/fastclick.js'></script> -->
    <!-- <script type='application/javascript' src='assets/javascript/responsive-nav.js'></script> -->

    <!-- DEFAULT -->
    <link rel="stylesheet" href="css/main.css?{{ version }}" />

</head>

<body class="home" id="foo">

    {{> body }}

    <!-- <script type='application/javascript' src="assets/javascript/die.js"></script> -->
    <!-- <script type='application/javascript' src="assets/javascript/main.js"></script> -->
    <!-- <script type='application/javascript' src="assets/javascript/prevent_overscroll.js"></script> -->
    <script src="js/modernizr-output.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/die.js"></script>
    <script src="js/app.js"></script>

</body>
</html>
